.Blog {
  display: flex;
  justify-content: space-between;
}

.iconButton {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.alc {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

/*
  移动端支持
 */
.blog_mainContent_logo {
  display: none;
}
@media (max-width: 1100px) {
  .blog_mainContent_logo {
    width: auto;
    display: flex;
  }
  .blog_mainContent_logo > h3 {
    font-size: 0.8rem;
  }
}
