.Yiniau {
  width: 100vw;
  height: 100vh;
  background: rgb(58, 171, 219);

  border: 20px solid;
  border-image: radial-gradient(rgb(58, 171, 219), rgba(255, 255, 255, 0.5));

  box-sizing: border-box;

  font-size: 1rem;
}
