.ib {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255, 1);
  overflow: hidden;
  z-index: 10;
}
.ib img {
  position: relative;
  z-index: 1;
}
 @media (max-width: 1100px) {
   .ib {
     margin: 0, auto;
   }
 }
